/* --- BASIC ELEMENT STYLING --- */

body {
    margin: 0;
}

h1 {
    /* LEGACY - I'm only keeping it here in case I wanna compare with how it used to look
    margin-top: 0.3em;
    margin-bottom: 0.5em;*/
    font-weight: normal;
}



/* --- GRID STYLING --- */

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aqua; /* For debugging */
}

.gridItem {
    font-family: 'Courier New', Courier, monospace;
    
    line-height: 20pt;
    
    border: 0;
    
    overflow:scroll;
    
    -ms-overflow-style: none;  /* Hides scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hides scrollbar for Firefox */
}

.gridItem::-webkit-scrollbar {
    display: none; /* Hides scrollbar for Chrome, Safari and Opera*/
}



/* --- GRID ITEM LAYOUT --- */

/* mainPage */
#mainPage > .gridItem {
    height: 100vh;
}

#mainPage > #leftSide {
    padding-right: 5pt;
}

#mainPage > #rightSide {
    padding-left: 5pt;
}

/* subPage left */
#subPage > #leftSideTop {
    height: 20vh;
    align-content: center;
}

#subPage > #leftSide {
    height: 60vh;
}

#subPage > #leftSideBottom {
    height: 20vh;
}

/* subPage right */
#subPage > #rightSideTop {
    height: 20vh;
    align-content: center;
}

#subPage > #rightSide {
    height: 60vh;
}

#subPage > #rightSideBottom {
    height: 20vh;
}



/* --- GRID STYLING --- */

/* left side */
#leftSideTop {
    text-align: end;
    background-color: black;
    color: white;
    padding-left: 15%;
}

#leftSide {
    text-align: end;
    background-color: black;
    color: white;
    padding-left: 30%;
}

#leftSideBottom {
    text-align: end;
    background-color: black;
    color: white;
    padding-left: 15%;
}

#leftSide > .theoryText {
    padding-right: 5pt;
    margin-top: 0;
    margin-bottom: 0;
}

/* right side */
#rightSideTop {
    text-align: start;
    background-color: white;
    color: black;
    padding-right: 15%;
}

#rightSide {
    text-align: start;
    background-color: white;
    color: black;
    padding-right: 30%;
}

#rightSideBottom {
    text-align: start;
    background-color: white;
    color: black;
    padding-right: 15%;
}

#rightSide > .theoryText {
    padding-left: 5pt;
    margin-top: 0;
    margin-bottom: 0;
}



/* --- TEXT CLASS STYLING --- */

.theoryText {
    text-align: justify;
}

.iDont {
    font-size: 3em;
}

.link {
    text-decoration: none;
    text-decoration: underline;
    color: inherit;
}

.hiddenLink {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    color: rgb(127,127,127); /* Halfway between black and white. The perfect grey <3 */
}

.hiddenLink:hover {
    color: rgb(127,127,127); /* Halfway between black and white. The perfect grey <3 */
}



/* --- SCROLL ARROWS --- */

#leftTopArrow {
    position: absolute;
    text-align: center;
    left: 15%;
    width: 35%;
    top: 16%;
    
    display: none;
}

#leftBottomArrow {
    position: absolute;
    text-align: center;
    left: 15%;
    width: 35%;
    bottom: 16%;
    
    display: none;
}

#rightTopArrow {
    position: absolute;
    text-align: center;
    width: 35%;
    top: 16%;
    
    display: none;
}

#rightBottomArrow {
    position: absolute;
    text-align: center;
    width: 35%;
    bottom: 16%;
    
    display: none;
}